[submodule "jan"]
	path = jan
	url = https://github.com/lgh-ag/jan.git
[submodule "jannis"]
	path = jannis
	url = https://github.com/lgh-ag/jannis
[submodule "johannes"]
	path = johannes
	url = https://github.com/lgh-ag/johannes
[submodule "jonathan"]
	path = jonathan
	url = https://github.com/lgh-ag/jonathan
[submodule "julius"]
	path = julius
	url = https://github.com/lgh-ag/julius
[submodule "lukas"]
	path = lukas
	url = https://github.com/lgh-ag/lukas
[submodule "marie"]
	path = marie
	url = https://github.com/lgh-ag/marie
[submodule "marie-christin"]
	path = marie-christin
	url = https://github.com/lgh-ag/marie-christin
